{deps, [
{gun,".*",{git,"https://github.com/ninenines/gun.git","2.0.0-rc.2"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx.git","v3.1.0"}},{base64url,".*",{git,"https://github.com/dvv/base64url.git","1.0.1"}},{lager,".*",{git,"https://github.com/erlang-lager/lager","3.9.2"}},{uuid,".*",{git,"https://github.com/okeuday/uuid.git","v2.0.2"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.
